:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --height-header: 120px;
    --height-navbar: 40.8px;
    --height-search: calc(var(--height-header) - var(--height-navbar))
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* reposive */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}



@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes scale {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0  , 0, 0.4);
}

.modal__body{
    
    background:var(--white-color) ;
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}
