.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53e);
}
.header__navbar
{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
}


.header__navbar-item:hover ,.header__navbar-item-link:hover,
.header__navbar-item-icon:hover
{
    color: rgba(255, 255,255, 0.7);
    cursor: pointer;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    display: inline-block;
}
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 300;
}
.header__navbar-item-icon{
    font-size: 18px;
    color: white;
    margin: 0 5px;
}
.header__navbar-item-link--bold{
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #fb9086 ;
    right: -8px;
    top: 1px;
}

.header__navbar-item--no-pointer:hover{
    color: white;
    cursor: text;
}

/* header__QR */
.header__qr{
    width: 186px;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 2px;
    background-color: white;
    display: none;
    animation: fadeIn ease 0.5s;
}

.header__qr-img{
    width: 100%;
    padding: 13px;
}
.app-icon{
    color: black;
    font-size: 16.5px;
    font-weight: 300;
    margin-top: 10px;
}

.header__navbar-item:nth-child(1):hover .header__qr{
    display: block;
}

.header__navbar-item:nth-child(1)::after{
    content: "";
    display: block;
    width: 100%;
    height: 18px;
    top: 11px;
    background-color: rgba(255, 255, 255, 0);
}

.header__motifi{
    position: absolute;
    width:400px;
    top: 100%;
    right: 0;
    background-color: var(--white-color);

}
.header__motifi-title{

}
.header__motifi-title h3{
    margin: 0;
    height: 40px;
    line-height: 40px;
    margin-left: 8px;
    font-weight: 300;
    font-size: 16px;
}

.header__motifi-info{
    display: flex;
}
.header__motifi-img{
    width: 48px;
    margin: 0 10px;
}
.header__motifi-link{
    display: block ;
    text-decoration: none;
    color: black;
}
.header__motifi-link:nth-child(1)
{
    font-size: 14px;
    font-weight: 500;
}

.header__motifi-link:nth-child(2)
{
    font-size: 12px;
}

