.header{
    height: var(--height-header);
    background-image: linear-gradient(0,#fe6433,#f53e);
}
.header__navbar
{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
}


.header__navbar-item:hover ,.header__navbar-item-link:hover,
.header__navbar-item-icon:hover
{
    color: rgba(255, 255,255, 0.7);
    cursor: pointer;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    display: inline-block;
}
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 300;
}
.header__navbar-item-icon{
    font-size: 18px;
    color: white;
    margin: 0 5px;
}
.header__navbar-item-link--bold{
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #fb9086 ;
    right: -8px;
    top: 1px;
}

.header__navbar-item--no-pointer:hover{
    color: white;
    cursor: text;
}

/* header__QR */
.header__qr{
    width: 186px;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 2px;
    background-color: white;
    display: none;
    animation: fadeIn ease 0.5s;
    z-index: 1;
}

.header__qr-img{
    width: 100%;
    padding: 13px;
}
.app-icon{
    color: black;
    font-size: 16.5px;
    font-weight: 300;
    margin-top: 10px;
}

.header__navbar-item:nth-child(1):hover .header__qr{
    display: block;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    width: 100%;
    height: 18px;
    top: 11px;
    background-color: rgba(255, 255, 255, 0);
}

.header__motifi{
    position: absolute;
    width:400px;
    top: 180%;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #ccc;
    display: none;
    z-index: 1;
}
.header__motifi::before{
    content: "";
    display: block;
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 20px;
    top:-30px
}

.header__motifi h3{
    margin: 0;
    height: 40px;
    line-height: 40px;
    margin-left: 8px;
    font-weight: 300;
    font-size: 16px;
    color: black;
}
.header__motifi h3:hover{
    cursor: default;
}

.header__motifi-info{
    display: flex;
    padding: 20px 0;
    background-color: #f6e9e9;
}
.header__motifi-info:hover{
    background-color: white;
   
}
.header__motifi-img{
    width: 48px;
    padding: 0 10px;
}
.header__motifi-link{
    display: block ;
    text-decoration: none;
    color: black;
}
.header__motifi-link:nth-child(1)
{
    font-size: 14px;
    font-weight: 500;
}

.header__motifi-link:nth-child(2)
{
    font-size: 12px;
}

.appear:hover .header__motifi{
    display: block;
    transform-origin:90% top;
    animation: scale ease-out 0.2s;
}

.header__motifi-info:first-child{
    margin: 0 10px 0 0;
}

.header__motifi--bot{
    height: 30px;
}
.header__motifi--bot {
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}
.header__motifi--bot-link{
    text-decoration: none;
}

.appear::after{
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 70%;
    right: 0;
}

/* modal */
.auth-form__container{
    padding: 0 32px;
}
.authen-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: red;
    cursor: pointer;
}

.auth-form__form{
    margin-top: 16px;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 1px;
    border: 1px solid #dbdbdb;
}

.auth-form__input:focus{
    border-color: #666;
}

.auth-form-outsite{
    margin-top:18px ;
}

.auth-form__policy-text{
    font-size: 1.3rem;
    line-height: 1.6rem;
    text-align: center;
}

.auth-form__policy-link{
    text-decoration: none;
    color: red;
}
.auth-form__control{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

/* btn style */
.btn{
    min-width:142px ;
    min-height: 36px;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0;
    cursor: pointer;
    background-color: white;
}
.auth-form__control-back:hover{
    background-color: #d9d9d9;
}
.btn.btn-primary{
    color:white;
    background-color: red;
}
.btn.btn-disable{
    cursor: default;
    background-color: #999;
    color: #ccc;
}

.auth-form__control-back{
    margin-right: 8px;
}
.auth-form__socials{
    background-color: #f5f5ff;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    
}

.btn-size-s{
    height: 32px;
    font-size: 12px;
}

.btn--with-icon{
    display: flex;
    align-items: center;
    color: white;
    width: 250px;
    padding: 0 5px;
    justify-content: space-around;
}

.fa-facebook-square,.fa-google{
    font-size: 2.3rem;
   
}



.auth-form__socials--facebooks
{
    background-color: #1a8bff;
    color: white;
    padding: 0 8px;
}

.auth-form__socials-google
{
    color: var(--text-color);
}

.authe-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link
{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.authe-form__help-saparate::after{
    content: "";;
    display: block;
    border: 0.7px solid #d3cece;
    height: 14px;
    margin: 0 16px;
}
.auth-form__help-forgot{
    color: red;
}

/* header with search */
.header-search{
    height: var(--height-search);
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.header__logo{
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
}
.header__logo-svg{
    width: 162px;
    fill: white;
}
.header-box-search{
    height: 40px;
    background-color: white;
    flex: 1;
    border-radius: 2px;
   display: flex;
   align-items: center;
}
.header-icon-cart{
    width: 150px;
    text-align: center;
    position: relative;
}
.header-icon-cart:hover .header-cart{
    display: block;
}
.fa-shopping-cart{
    font-size: 20px;
    color: white;
}
.search-input{
    border: none;
    width: 80%;
    height: 30px;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 2px;
    color: var(--text-color);
}
.header-box-search-input{
    display: flex;
    padding: 5px 0;
    flex: 1;
}
.search-select{
    display: flex;
    align-items: center;
    border-left: 1px solid #ccc;
    padding-left: 16px;
    font-size: 1.2rem;
    position: relative;
}
.fa-chevron-down{
    margin: 0 8px;
    font-size: 1.2rem;
}
.search-btn{
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px ;
    background-color: #ff623c;
    margin-right: 3px;
}
.search-btn:hover{
    background-color: #fe8d72;
    cursor: pointer;
}
.fa-search{
    font-size: 1.4rem;
    color: white;
}
.input-search{
    flex: 1;
    width: 80%;
    position: relative;
}
.search__history{
    position: absolute;
    background-color: white;
    width: 100%;
    padding: 10px 0px 10px 15px;
    left: 0;
    top: 140%;
    border-radius: 1px;
    box-shadow: 1.5px 1.5px #ccc;
    display: none;
    z-index: 1;
}
.input-search::after{
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 100%;
}
.input-search:active .search__history{
    display: block;
}
.search__history h3{
    font-weight: 300;
    font-size: 1.3rem;
}
.search__history--list{
    list-style: none;
    padding-left: 0;
}
.search__history--item{
    font-size: 1.1rem;
    font-weight: 450;
}
.search__history--item:first-child{
    margin-bottom: 13px;
}

.header--list--option{
    position: absolute;
    top: 100%;
    right: 0;
    width: 115%;
    list-style: none;
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 1px  #999;
    padding: 0;
    display: none;
}
.header--list--item{
    padding: 5px 15px;
    
}
.option-icon{
    margin-left:8px ;
    color: red;
    font-size: 1.3rem;
}
.search-select:active .header--list--option{
    display: block;
}
/* avata */
.header__avata{
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -15px;
    position: absolute;
    top: 70%;
    right: 75%;
}
.header__avata--img{
    width: 25px;
    display: inline-block;

}
.navbar__login{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.navbar__login:hover .header__login--info{
    display: block;
    animation: fadeIn ease-in 0.3;
}
.navbar__login::after{
    content: "";
    position: absolute;
    top: 10%;
    right: 0;
    width: 100%;
    height: 40px;
   
}
/*  */
.header__login--info{
    position: absolute;
    width: 200px;
    top: 180%;
    right: 0;
    color: var(--text-color);
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 1px #999;
    display: none;
}
.header__login--info::before{
    content: "";
    display: block;
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 20px;
    top:-20px;

}
.list-info{
    list-style: none;
    padding: 0;
    
}
.info--item{
    padding: 10px 16px;
}
.info--item:hover{
    background-color: #ddd;
}
/* cart */
.header-cart{
    position: absolute;
    top: 140%;
    right: 0;
    background-color: white;
    width: 300px;
    border-radius: 2px;
    box-shadow: 1px 1px #999;
    display: none;
    z-index: 1;
}
.header-icon-cart::before{
    content: "";
    position: absolute;
    top:80%;
    right: 0;
    width: 100%;
    height: 25px;
}
.header-cart::before{
    position: absolute;
    content: "";
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    top: -28px;
    right: 52px;
}
.header__cart--list{
    list-style: none;
    padding: 0;
}
.header__cart-img-produc{
    width: 40px;
}
.produc-img{
    width: 40px;
}
.header__cart-conten-item{
    display: flex;
    text-align: center;
}
.header__cart-produc-name{
    text-align: left;
    padding: 0;
    margin: 0;
}
.header__cart-conten-produc{
    padding-left: 10px ;
    flex: 1;
}
.header__cart-produc-description{
    padding: 0;
    margin: 0;
    text-align: left;
}
.header__cart-item{
    padding: 5px 10px 5px 10px;
}
.header__cart-item:hover{
    background-color: wheat;
}
.header__cart-item-link{
    text-decoration: none;
    color: var(--text-color);
}
.produc-price{
    color: red;
}
.tn-delete{
    text-align: right;
}
.header__cart--heading{
    text-align: left;
    padding: 5px 0 5px 15px ;
    color: #666;
    font-weight: 300;
}
.header__cart--btn{
    display: flex;
    justify-content: flex-end;
}
.cart_btn{
    background-color: #ff633c;
    color: white;
}
/* container */
/* catergory */
.container{
    padding: 20px 0 20px 0;
    background-color: #f5f5f5;
}
.category{
    
    background-color: white;
    padding: 10px 0 10px 15px;
   
}
.category__list{
    list-style: none;
    padding: 0 0 0 7px;
}
.category__heading{
    font-size: 1.6rem;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
}
.category__list--item{
    font-size: 1.3rem;
    padding: 5px 0 5px 0;
}
.category__list--item:hover{
    color: var(--primary-color);
}
.category__list--item-active{
    color: #ff633c;
    position: relative;
}
.category__list--item-active::before{
    content: "";
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
    border-color: var(--primary-color);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
}
.arrangement{
    display: flex;
    align-items: center;
    background-color: #ededed;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
}
.arrangement__heading{
    font-size: 1.3rem;
    padding: 0 10px 0 10px ;
}
.arrangement__btn{
    margin: 0 5px 0 5px;
    min-width: 120px;
}
.btn-active{
    background-color: var(--primary-color);
    color: white;
}
.arrangement__select{
    background-color: white;
    width: 160px;
    height: 34px;
    border-radius: 2px;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    padding-right: 5px;
}
.arrangment__price{
    margin-left: 5px;
}
.arrangement__page{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5rem;
}
.page_hear{
    color: var(--primary-color);
}
.backpage,.next_page{
    padding: 8px 11px;
    border:none;
    border-radius: 2px;
    font-size: 1.4rem;
}
.backpage{
    margin: 0 2px 0 8px;
}
/* produc */
.produc__item{
    background-color: white;
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
}
.produc__item:hover{
    box-shadow: 1px 1px #d9d9d9;
    transform: translateY(-1px);
}
.produc__img{
    padding-top:100% ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.produc__title{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px;
    overflow: hidden;
    height: 3.6rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.produc__pirce{
    display: flex;
    margin-left: 10px;
    align-items: baseline;
}
.produc__price-old{
    font-size: 1.4rem;
    text-decoration: line-through;
    color: #666;
}
.produc__price-new{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 5px;
}
.produc__rating{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.produc__rating--like{
    margin-left: 10px;
    font-size: 1.3rem;
}
.produc__rating--star{
    margin-right: 10px;
    transform: scale(0.8);
    transform-origin: right;
}
.produc__origin{
    text-align: right;
    margin-right: 10px;
}
.produc__discount{
    position: absolute;
    display: flex;
    width: 104%;
    justify-content: space-between;
    right: -2%;
    top: 10px;
}
.produc__discount-favarite{
    background-color: var(--primary-color);
    padding: 0 6px;
    line-height: 1.6rem;
    font-size: 1.2rem;
    color: white;
}
.produc__discount-favarite::before{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    border-top: 5px solid var(--primary-color);
    border-left: 4px solid transparent;
    filter: brightness(0.5);
}
.produc__discount--percent{
    background-color: rgb(255 212 36 / 90%);
    height: 30px;
    width: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 2%;
    top:-10px
}
.produc__discount--percent::after{
    content: "";
    position: absolute;
    bottom: -6px;
    border-width: 0 17.5px 6px;
    border-style: solid;
    border-color: transparent rgb(255 212 36 / 90%) transparent rgb(255 212 36 / 90%);
}
.discount--percent{
    color: var(--primary-color);
}
.downt{
    color: var(--white-color);
}
.container__paging{
    width: 100%;
    margin-top: 25px;
}
.container__paging-list{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}
.container__paging-page{
    margin: 10px;
}
.container__paging-page{
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--text-color);
}
.page__active{
    padding: 6px 3px;
    background-color:var(--primary-color) ;
    border-radius: 2px;
}
/* footer */
.footer{
    border-top: 3px solid var(--primary-color);
}
.footer__list{
    padding-top: 30px;
    padding-left: 40px;
}
.footer__list-heading{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    padding-bottom: 15px;
    color: var(--text-color);
}
.footer__list-items{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    color: var(--text-color);
}
.footer__list-item{
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.footer__item-icon{
    font-size: 1.5rem;
    margin-right: 7px;
}
.footer__dowloand-app{
    display: flex;
}
.footer__dowloand-qr-img{
    width: 90px;
    height: 90px;
    padding: 10px;
    border:1px solid #ccc;
    margin-top: 20px;
}
.footer__dowloand-app-store{
    display: flex;
    flex-direction: column;
}
.footer__dowloand-app-icon{
    font-size: 1.8rem;
    padding: 15px 10px;
}
.app-icon{
    font-size: 2rem;
}
.footer__policy{
    background-color: #f5f5f5;
}
.policy__list{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    font-size: 1.5rem;
    padding-top: 30px;
}
.policy__item{
    padding: 0 20px;
    border-right: 1px solid #ccc;
}
.policy__item:last-child{
    border-right: none;
}
.policy__item-link{
    text-decoration: none;
    color: var(--text-color);
}
.registration-mark{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.registration-mark-img{
    width: 200px;
    margin-top: 20px;
}
.registation-mark-name{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-bottom: 20px;
}
.registation-mark-address{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
.address{
    text-align: center;
    font-size: 1.3rem;
    line-height: 2.2rem;
}