.header{
    height: var(--height-header);
    background-image: linear-gradient(0,#fe6433,#f53e);
}
.header__navbar
{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
}


.header__navbar-item:hover ,.header__navbar-item-link:hover,
.header__navbar-item-icon:hover
{
    color: rgba(255, 255,255, 0.7);
    cursor: pointer;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    display: inline-block;
}
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 300;
}
.header__navbar-item-icon{
    font-size: 18px;
    color: white;
    margin: 0 5px;
}
.header__navbar-item-link--bold{
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #fb9086 ;
    right: -8px;
    top: 1px;
}

.header__navbar-item--no-pointer:hover{
    color: white;
    cursor: text;
}

/* header__QR */
.header__qr{
    width: 186px;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 2px;
    background-color: white;
    display: none;
    animation: fadeIn ease 0.5s;
}

.header__qr-img{
    width: 100%;
    padding: 13px;
}
.app-icon{
    color: black;
    font-size: 16.5px;
    font-weight: 300;
    margin-top: 10px;
}

.header__navbar-item:nth-child(1):hover .header__qr{
    display: block;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    width: 100%;
    height: 18px;
    top: 11px;
    background-color: rgba(255, 255, 255, 0);
}

.header__motifi{
    position: absolute;
    width:400px;
    top: 180%;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #ccc;
    display: none;
}
.header__motifi::before{
    content: "";
    display: block;
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 20px;
    top:-30px
}

.header__motifi h3{
    margin: 0;
    height: 40px;
    line-height: 40px;
    margin-left: 8px;
    font-weight: 300;
    font-size: 16px;
    color: black;
}
.header__motifi h3:hover{
    cursor: default;
}

.header__motifi-info{
    display: flex;
    padding: 20px 0;
    background-color: #f6e9e9;
}
.header__motifi-info:hover{
    background-color: white;
   
}
.header__motifi-img{
    width: 48px;
    padding: 0 10px;
}
.header__motifi-link{
    display: block ;
    text-decoration: none;
    color: black;
}
.header__motifi-link:nth-child(1)
{
    font-size: 14px;
    font-weight: 500;
}

.header__motifi-link:nth-child(2)
{
    font-size: 12px;
}

.appear:hover .header__motifi{
    display: block;
    transform-origin:90% top;
    animation: scale ease-out 0.2s;
}

.header__motifi-info:first-child{
    margin: 0 10px 0 0;
}

.header__motifi--bot{
    height: 30px;
}
.header__motifi--bot {
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}
.header__motifi--bot-link{
    text-decoration: none;
}

.appear::after{
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 70%;
    right: 0;
}

/* modal */
.auth-form__container{
    padding: 0 32px;
}
.authen-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: red;
    cursor: pointer;
}

.auth-form__form{
    margin-top: 16px;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 1px;
    border: 1px solid #dbdbdb;
}

.auth-form__input:focus{
    border-color: #666;
}

.auth-form-outsite{
    margin-top:18px ;
}

.auth-form__policy-text{
    font-size: 1.3rem;
    line-height: 1.6rem;
    text-align: center;
}

.auth-form__policy-link{
    text-decoration: none;
    color: red;
}
.auth-form__control{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

/* btn style */
.btn{
    min-width:142px ;
    min-height: 36px;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0;
    cursor: pointer;
    background-color: white;
}
.auth-form__control-back:hover{
    background-color: #d9d9d9;
}
.btn.btn-primary{
    color:white;
    background-color: red;
}
.btn.btn-disable{
    cursor: default;
    background-color: #999;
    color: #ccc;
}

.auth-form__control-back{
    margin-right: 8px;
}
.auth-form__socials{
    background-color: #f5f5ff;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    
}

.btn-size-s{
    height: 32px;
    font-size: 12px;
}

.btn--with-icon{
    display: flex;
    align-items: center;
    color: white;
    width: 250px;
    padding: 0 5px;
    justify-content: space-around;
}

.fa-facebook-square,.fa-google{
    font-size: 2.3rem;
   
}



.auth-form__socials--facebooks
{
    background-color: #1a8bff;
    color: white;
    padding: 0 8px;
}

.auth-form__socials-google
{
    color: var(--text-color);
}

.authe-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link
{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.authe-form__help-saparate::after{
    content: "";;
    display: block;
    border: 0.7px solid #d3cece;
    height: 14px;
    margin: 0 16px;
}
.auth-form__help-forgot{
    color: red;
}

/* header with search */
.header-search{
    height: var(--height-search);
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.header__logo{
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
}
.header__logo-svg{
    width: 162px;
    fill: white;
}
.header-box-search{
    height: 40px;
    background-color: white;
    flex: 1;
    border-radius: 2px;
   display: flex;
   align-items: center;
}
.header-icon-cart{
    width: 150px;
    text-align: center;
}
.fa-shopping-cart{
    font-size: 20px;
    color: white;
}
.search-input{
    border: none;
    width: 80%;
    height: 30px;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 2px;
    color: var(--text-color);
}
.header-box-search-input{
    display: flex;
    padding: 5px 0;
    flex: 1;
}
.search-select{
    display: flex;
    align-items: center;
    border-left: 1px solid #ccc;
    padding-left: 16px;
    font-size: 1.2rem;
}
.fa-chevron-down{
    margin: 0 8px;
    font-size: 1.2rem;
}
.search-btn{
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px ;
    background-color: #ff623c;
    margin-right: 3px;
}
.search-btn:hover{
    background-color: #fe8d72;
    cursor: pointer;
}
.fa-search{
    font-size: 1.4rem;
    color: white;
}